.inspiring-title .inspiring h1 {
  @apply text-4xl;
}

.inspiring .tiptap {
  @apply outline-none;
}

.inspiring p.is-editor-empty:first-child::before,
.inspiring h1.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.inspiring h1 {
  @apply my-4 text-3xl font-semibold;
}

.inspiring h2 {
  @apply my-3 text-2xl font-semibold;
}

.inspiring h3 {
  @apply my-2 text-xl font-semibold;
}

.inspiring {
  @apply leading-7;
}

.inspiring h4,
.inspiring h5,
.inspiring h6 {
  @apply mt-6 mb-2 font-medium;
}

.inspiring blockquote {
  @apply px-3 py-1 mb-4 border-l-2 border-l-blue-500;
}

.inspiring blockquote p {
  @apply mb-0;
}

.inspiring a {
  @apply text-blue-500 cursor-pointer;
}

.inspiring > p {
  @apply mb-4 text-lg leading-8;
}
