.DS_Store

node_modules

.env*.local
.cache
.vercel
.output
vite.config.ts.timestamp-*
tsconfig.tsbuildinfo

/public/build
/public/fonts/codicon.ttf
/public/workers
/api
/build

/app/styles/*
/app/blog/**/**/index.json
/scripts/bundle.*js
