.DS_Store

node_modules

.env*.local
.cache
.vercel
.output
.npmrc
vite.config.ts.timestamp-*
tsconfig.tsbuildinfo

/public/build
/public/fonts/codicon.ttf
/api
/build

/app/blog/**/**/index.json
/scripts/bundle.*js

.vercel
